@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h1 class="arialrounded fw-bold mt-3 mb-5">Welcome to MyQuery</h1>

    <h5>MyQuery is MSSQL-Style Query Executor that you can execute any SQL Server Query in browser!</h5>
    <h6>Developed with proud by Muhammad Ruffian Azzahri</h6>
</div>

